@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


h1, h2, h3, h4, h5, p, a, li {
    font-family: "Roboto", sans-serif;
}

.logodim {
    width: 50px;
    height: 50px;
}

section {
  scroll-margin-top: 80px; /* altezza navbar */
}

h2, h3, h4, h5 {
    margin: 0 auto;
}

footer > p {
    font-size: 0.8rem;
}

.anchorFix {
    height: 80px;
}